*{
	margin: 0;
	padding: 0;
}
div{
	margin: 0 auto;
	font-family: "Roboto";
	width: 960px;
}
h1{
	font-size: 36px;
	line-height: 36px;
}
h2{
	font-size: 32px;
	line-height: 32px;
	margin:40px 0px;
}
span.tip{
	font-weight: 900;

}
li.size{
	font-size: 20px;
	margin-bottom: 10px;
}
li.size1{
	font-size: 20px;
	margin-bottom: 20px;

}
p.head1{
	font-size: 24px;
	line-height: 32px;
	margin-top: 10px;
}
p.footer{
	padding: 25px;
	background-color: #def6ed;
	margin-top: 40px;
}
li.inset{
	border-style: inset;
	margin:40px 60px 40px 85px;
	display: inline-block;
	font-size: 20px;
}
